body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0; /* Изменен цвет заднего фона */
    color: #333; /* Цвет текста по умолчанию */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #1e90ff; /* Изменен цвет фона шапки */
    color: #fff;
    text-align: center;
    padding: 60px 0;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
}

section {
    padding: 40px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff; /* Цвет фона разделов */
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #1e90ff; /* Изменен цвет заголовков разделов */
}

.portfolio-item {
    margin-bottom: 30px;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    text-align: center;
    background-color: #1e90ff; /* Изменен цвет фона подвала */
    color: #fff;
    padding: 20px 0;
}

.social-links {
    list-style: none;
    padding: 0;
    text-align: center;
}

.social-links li {
    display: inline;
    margin: 0 10px;
}

.social-links li a {
    color: #1e90ff; /* Изменен цвет ссылок соцсетей */
    text-decoration: none;
    font-size: 24px;
}

.social-links li a:hover {
    color: #007bff;
}
